<H1>Mapa de Argentina</H1>

<a name="tope"> </a>

<table border="1" width="300">
    <caption> <u><p>Provincias y sus capitales</p></u> </caption>
        <th>Provincia</th>
        <th>Capital</th>

        <tr>
            <td> <a href="#tabla">Buenos Aires</a> </td>
                    <td>La Plata</td>
        </tr>

        <tr>
            <td><a href="#bsas">Chaco</a></td>
            <td>Resistencia</td>
        </tr>
        <tr>
            <td><a href="#cha">Chubut</a></td>
                    <td>Rawson</td>
        </tr>
        <tr>
            <td><a href="#chu">Formosa</a></td>
                    <td>Formosa</td>
        </tr>
        <tr>
            <td><a href="#for">Entre Ríos</a></td>
                    <td>Paraná</td>
        </tr>

    </table>

    <a name="tabla"> </a>

    <p> <a name="bsas"> </a>
        <img src="https://c7.alamy.com/compes/ct2t04/mapa-politico-de-argentina-con-varias-provincias-que-buenos-aires-esta-resaltada-ct2t04.jpg" border="0" width="314" height="687" alt="">
        </p>

        <p> <a name="cha"> </a>
        <img src="https://c7.alamy.com/compes/ct2t0c/mapa-politico-de-la-argentina-con-el-chaco-varias-provincias-donde-esta-resaltada-ct2t0c.jpg" border="0" width="314" height="687" alt="">
        </p>

        <p> <a name="chu"> </a>
        <img src="https://c7.alamy.com/compes/ct2t0f/mapa-politico-de-argentina-con-varias-provincias-donde-chubut-esta-resaltada-ct2t0f.jpg" border="0" width="314" height="687" alt="">
        </p>

        <p> <a name="for"> </a>
        <img src="https://c7.alamy.com/compes/ct2t13/mapa-politico-de-argentina-con-varias-provincias-donde-formosa-esta-resaltada-ct2t13.jpg" border="0" width="314" height="687" alt="">
        </p>

        <p> <a name="entre"> </a>
        <img src="https://c7.alamy.com/compes/ct2t0x/mapa-politico-de-argentina-con-varias-provincias-donde-se-resalta-de-entre-rios-ct2t0x.jpg" border="0" width="314" height="687" alt="">
        </p>
        
        <a href="#tope"> Ir arriba </a>

<router-outlet></router-outlet>