<br>

<h1>Argentina (tierra de Diego y Lionel)</h1>
<iframe width="280" height="150" src="https://www.youtube.com/embed/1jPV8CJrdew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>

<a href="https://www.argentina.gob.ar/turismoydeportes" target="_blank"> Ir al Ministerio de Turismo </a><br><br>

<table border="1" bgcolor="celeste">
    <caption><h3>Provincias y sus capitales</h3></caption>
        <th>Provincia</th>
        <th>Capital</th>
		<th>Imagen</th>
        <th>Descripción</th>
	<tr>
		<td>Buenos Aires</td>
		<td>La Plata</td>
		<td><img src="./assets/media/BsAs.jpg" alt="Buenos Aires" align="center" width="10%" height="10%" border="3"></td>
		<td>Llanura, praderas, humedales, lagunas, ríos, mar y sierras conforman la diversa geografía de la provincia más poblada del país. Nuestro territorio, habitado por querandíes, pampas y tehuelches fue testigo de la llegada de los conquistadores españoles en la primera mitad del siglo XVI.</td>
	</tr>
	<tr>
		<td>Chaco</td>
		<td>Resistencia</td>
		<td><img src="./assets/media/Chaco.png" alt="Chaco" align="center" width="10%" height="10%" border="3"></td>
		<td>La provincia de Chaco, se encuentra en el norte de la República Argentina. Tiene una superficie de 99.633 kilómetros cuadrados y una población de 1.053.466 habitantes según el Censo 2010. La Provincia cuenta actualmente con 25 departamentos.
		</td>
	</tr>
    <tr>
		<td>Chubut</td>
		<td>Rawson</td>
		<td><img src="./assets/media/Chubut.png" alt="Chubut" align="center" width="20%" height="20%" border="3"></td>
		<td>Es una provincia argentina ubicada al centrosur del país, en la Región Patagónica, limita al norte con la provincia de Río Negro, al este con el Mar Argentino, al sur con Santa Cruz y al oeste con la República de Chile. Su capital es Rawson y su ciudad más poblada es Comodoro Rivadavia.</td>
	</tr>
    <tr>
		<td>Formosa</td>
		<td>Formosa</td>
		<td><img src="./assets/media/Formosa.jpg" alt="Formosa" align="center" width="10%" height="10%" border="3"></td>
		<td>La Provincia de Formosa ubicada en la Zona Nordeste de la República Argentina, ocupa íntegramente el área del Chaco Central y define con sus características de sabana parque el gran ecosistema de la llanura chaqueña, conformado también por el Chaco boreal (Paraguay) y el Chaco austral (Argentina).</td>
	</tr>
    <tr>
		<td>Entre Ríos</td>
		<td>Paraná</td>
		<td><img src="./assets/media/EntreRios.png" alt="Entre Rios" align="center" width="10%" height="10%" border="3"></td>
		<td><p>Se encuentra ubicada al este de la región centro del país: limita al norte con Corrientes, al oeste y sur con el Río Paraná (que la separa de Buenos Aires y Santa Fe) y al este con el Río Uruguay. Se la considera como una provincia insular debido a que está rodeada por ríos y arroyos.</p></td>
	</tr>
</table><br>

